*{
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center ;
    justify-content: center;
}
.footer{
    width: 90%;
    height: 270px;
    align-items: center;
    background-color: #292F3F;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.collection {
    /* list-style-type: none; */
    display: flex;
    margin-top: 60px;
    /* justify-content: center; */
    /* padding-top: 45px; */
}
.collection li{
    padding: 10px 35px;
    list-style-type: none;
}
.collection a{
    /* padding: 35px; */
    text-decoration: none;
    color: #c6c9cc;/*hex code*/
}
.icon{
    display: flex;
    margin-top: 30px;
}
.icon li{
    list-style-type: none;
    padding-right: 45px;
}
.icon li a{
    font-size: 30px;
    color: #a9b0b9;
}
.footer p{
    color: #a9b0b9;
    margin-top: 25px;
}
